<html>
    <body>
        <h1></h1>
        <form action="/new" method="POST">
            <label for="user">Name:</label>
            <input name="user" id="user" type="text">
            <label for="message">Message text:</label>
            <input name="message" id="message" type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>