<html>
    <body>
        <h1>Message Details</h1>
        <div>
            <h4>user: <%= message.user %></h4>
            <p>text: <%= message.text %></p>
            <p>added: <%= message.added %></p>
        </div>
    </body>
</html>